<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-ionic-smisdk-plugin" version="1.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SmiSdkPluginCordova</name>

    <js-module name="SmiSdkPluginCordova" src="www/SmiSdkPluginCordova.js">
        <clobbers target="cordova.plugins.SmiSdkPluginCordova" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SmiSdkPluginCordova">
                <param name="android-package" value="com.datami.SmiSdkPluginCordova" />
            </feature>
        </config-file>


        <config-file target="app/src/main/AndroidManifest.xml" parent="./application">
          <service android:name="com.datami.smi.SmiIntentService" />
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="./application">
          <uses-library android:name="org.apache.http.legacy" android:required="false" />
        </config-file>


        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <source-file src="src/android/SmiSdkPluginCordova.java" target-dir="src/com/datami" />
        <source-file src="src/android/DatamiInit.java" target-dir="src/com/datami" />
        <source-file src="src/android/DatamiApplication.java" target-dir="src/com/datami" />
        <framework src="src/android/libSmiSdk.gradle" custom="true" type="gradleReference" />
        
    </platform>

</plugin>